* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
}

/* Gallery container styling */
.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 90%;
    max-width: 1800px;
    
    margin: 20px auto;
}

/* Image styling */
.gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

/* Image hover effect */
.gallery img:hover {
    transform: scale(1.05);
}


.container {
    position: relative;
}

.color1 a{
     color: white;
}

.pos1{
   position: relative;
   
   word-spacing: 20px;
   color: white;
}

.container1
{
    width: 100%;
    border: red solid 2px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.photobutton{
    position: relative;
    top: 253px;
    left: 9px;
}

.conti{
    width: 300px; /* Desired width */
    aspect-ratio: 16 / 9; /* Desired aspect ratio (e.g., 16:9) */
    overflow: hidden; /* Ensures content doesn't overflow */
    background: #f0f0f0; /* Optional: Placeholder background */
    display: flex; /* Optional: Center content */
    justify-content: center;
    align-items: center;

}

@media (max-width:475px){
    .container1{

      
    }
}

@media (max-width:640px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:1024px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:1536px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}



.extra_image{
    height: 80%;
}